html{
    font-family: serif;
    background: rgb(207, 172, 102);
    margin: 0;
}

body{
    margin: 0;
}

.title-flexbox{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(208, 199, 146);
  width: 100%;

}

.flexbox-gird{
    display:flex;
    justify-content: center;
    align-items:flex-start;
    gap: 10px;
    min-height: 80vh;
    padding-top: 10px;
}

.flexbox{
  display: flex;
}

.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 40px;
  padding: 20px;
  align-items: stretch;
  opacity: 0;
  gap:5px;
  transition: all 1s;
  -webkit-transition: all 1s;
  margin-top: 500px;
}

.popup-title {
  display: flex;
  align-items: left; 
  justify-content: flex-start;
  background-color: #ff00bb; 
}

.popup-flexbox-img{
  display:flex;
  flex-direction: column;
  background-color: rgb(0, 255, 13);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 30vw;
  height: 30vh;
}

.popup-flexbox-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.popup-flexbox{
  display:flex;
  flex-direction: column;
  background-color: aqua;
  align-items: left;
  justify-content: flex-start;
  margin-left: 10px;
  width: 20vw;
  height: 30vh;
}

.button{
  display:flex;
  left:10vw;
  justify-content: center;
  background-color:rgb(255, 255, 255);
  font-size:30px;
  border-radius:5px;
  transition:all 1s;
  -webkit-transition:all 1s;
  height: 35vh;
  width: 12vw;
  overflow: hidden;
}

.button img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  overflow: hidden;
}


.button:hover{
  opacity: 0.5;
  cursor:pointer;
}


#button1:hover ~ #popup1,
#button2:hover ~ #popup2,
#button3:hover ~ #popup3,
#button4:hover ~ #popup4,
#button5:hover ~ #popup5,
#button6:hover ~ #popup6,
#button7:hover ~ #popup7 {
  margin: 20vw 20vw 200px 20vw;
  opacity:1;
}



