html{
    font-family: serif;
    background: rgb(207, 172, 102);
    margin: 0;
}

body{
    margin: 0;
}

.title-flexbox{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(208, 199, 146);
  width: 100%;

}

.flexbox-gird{
    display:flex;
    justify-content: center;
    align-items:flex-start;
    gap: 10px;
    min-height: 80vh;
    padding-top: 10px;
}

.flexbox{
  display: flex;
}


.popup-flexbox{
  display:flex;
  background-color: aqua;
  overflow: hidden;
  max-height: 100px;
  max-width: 200px;

  
}

.popup{
  position:fixed;
  display: flex;
  align-self: center;
  margin-top:500px;
  opacity:0;
  transition:all 1s;
  -webkit-transition:all 1s;
}

.popup div
{
  font-size:20px;
  padding:50px;
  background-color:rgb(255, 255, 255);
  border-radius:40px;
  align-items:center;
}

.button{
  display:flex;
  left:10vw;
  text-align: center;
  background-color:rgb(255, 255, 255);
  font-size:30px;
  border-radius:5px;
  transition:all 1s;
  -webkit-transition:all 1s;
  height: 40vh;
  width: 12vw;
  overflow: hidden;
}


.button:hover{
  background-color:#00FFFF;
  cursor:pointer;
}

#button1:hover ~#popup1
{
  margin: 50vw;
  margin-bottom: 45vh;
  opacity:1;
}

#button2:hover ~#popup2
{
  margin: 50vw;
  margin-bottom: 45vh;
  opacity:1;
}

#button3:hover ~#popup3
{
  margin: 50vw;
  margin-bottom: 45vh;
  opacity:1;
}

#button4:hover ~#popup4
{
  margin: 50vw;
  margin-bottom: 45vh;
  opacity:1;
}

#button5:hover ~#popup5
{
  margin: 50vw;
  margin-bottom: 45vh;
  opacity:1;
}

#button6:hover ~#popup6
{
  margin: 50vw;
  margin-bottom: 45vh;
  opacity:1;
}

#button7:hover ~#popup7
{
  margin: 50vw;
  margin-bottom: 45vh;
  opacity:1;
}



